*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}
.game {
    padding-top: 100px;
}
.game__container {
    
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.game__inner {

    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}
.game__field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    text-transform: uppercase;
}
.game__field:hover{
    cursor: pointer;
    background-color: rgb(188, 188, 188);
}